* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #ddd;
}

svg {
    width: 30px;
    height: 30px;
}

.no_small {
    display: none;
}

header > .container {
    padding: 2em;
    display: flex;
    justify-content: space-between;
    }

.cards {
    width: 96%;
    margin: 0 auto;
    max-width: 800px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 25px;
    margin: 2em auto;
    box-shadow: 4px 4px 8px #aaa;
    max-width: 350px;
    height: 550px;
}

.bottom {
    padding: 0 1em;
    width: 96%;
    margin: 0 auto;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom h2 {
    background: cyan;
    display: inline-block;
    padding: 0.3em 0.4em;
    border-radius: 10px;
    font-size: 16px;
    margin: 1em 0;
    color: #fff;
}

.card:nth-child(2) h2 {
    background: slateblue;
}

.card:last-child h2 {
    background: blueviolet;
}

h3 {
    width: 80%;
    margin-bottom: 1em;
}

.text > p {
    width: 80%;
    letter-spacing: 1px;
}

.card > img {
    width: 100%;
    border-radius: 15px 15px 0 0;
    
}

.author > img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1em;
}

.author {
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.name {
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* BLOG CARDS */
section .container {
    padding: 1em;
}

#blog_cards {
    background: #fff;
}

#blog_cards .container {
    display: flex;
    flex-direction: column;
}

.share > div{
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.share img {
    margin-right: 0.5em;
}

.post h2 {
    margin-bottom: 0.5em;
}

#blog_cards ul {
    margin: 1.5em 0;
    list-style: none;
    align-self: start;
    margin-bottom: 2em;
}

#blog_cards ul li {
    display: inline;
    margin-right: 0.5em;
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    border-radius: 5px;  
}

.sponsored {
    position: relative;
    background-image: url(./images/fem.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 98%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.sponsored a {
    position: absolute;
    bottom: -52px;
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
    padding: 1em;
    border-radius: 0 0 10px 10px;
    text-decoration: none;
    color: #333;
}

.download {
    margin-top: 6em;
    text-align: center;
}

.download button {
    background: #4ED3CF;
    color: #fff;
    border: none;
    padding: 2em;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1em;
    box-shadow: 0 3px 6px #aaa;
    font-weight: bolder;
    cursor: pointer;
}

.download p {
    padding: 0 1em;
}

#color {
    background: #fff;
    padding: 2em;
    
}
#color .container {
    padding: 1em;
    text-align: center;
    height: 300px;
    background: #F7F7FC;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.color_codes { 
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em auto;
}

.color_codes div:first-child > span {
    background: #F3FBFB;
}

.color_codes div:nth-child(2) > span {
    background: #584255;
}

.color_codes div:nth-child(3) > span {
    background: #A196A6;
}

.color_codes div:nth-child(4) > span {
    background: #9F7E71;
}

.color_codes div:nth-child(5) > span {
    background: #51ADC4;
}

.color_codes div:nth-child(6) > span {
    background: #B69697;
}

.sample_color {
    display: flex;
    align-items: center;
    margin: 1em;
    background: #fff;
    padding: 0.5em 1em;
    border-radius: 25px;
}

.sample_color span {
    width: 20px;
    height: 20px;
    background: chartreuse;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

footer {
    background: #fff;
    border-top: 1px solid #ddd;
}

footer .container {
    padding: 1em;
    text-align: center;
}

footer ul {
    margin: 2em;
}

footer li {
    display: inline;
    list-style: none;
    margin: 1em;
}

.social {
    display: flex;
    justify-content: space-around;
    margin: 2em auto 0 auto;
    fill: #bbb;
    width: 80%;
}

.social svg {
    width: 20px;
    height: 20px;
    margin-bottom: 2em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1000px) {
    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 1em;
    }
    .card {
        width: 30%;
    }
}

@media screen and (min-width: 1200px) {
    main .container {
        display: flex;
    }

    .right_side {
        width: 35%;
    }
}